body {
    text-align: center;
    background-size: cover;
    background-image: url ()
}

h1 {


}

.animal{



}

.lusi{


}

.cat {


}

.cow{


} 

.giraffa{


} 

.horse{


}

.lion{


}

.sheep{


}